<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <script src="/js/index.js"></script>
  </head>
  <body>
    <div>
      <header>
        <a href="/">
          <h1 id="loading-text">
            Loading
          </h1>
        </a>
      </header>

      <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
        {{ content | safe }}
      </main>

      <script>
        const element = document.getElementById('loading-text');
        let dots = 0;

        setInterval(() => {
          // Reset to 0 after 3 dots, otherwise increment
          dots = (dots + 1) % 4;

          // Repeat the "." string based on the current count
          element.textContent = "Loading" + ".".repeat(dots);
        }, 500); // Updates every 500ms
      </script>

      <footer>
      </footer>
    </div>

  </body>
</html>
